@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url(~static/Poppins/Poppins-Regular.ttf) format('truetype');
}
/* @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap'); */
@font-face {
  font-family: 'Oswald';
  src: local('Oswald'),
    url(~static/Oswald/static/Oswald-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Archivo';
  src: local('Archivo'),
    url(~static/Archivo/static/Archivo/Archivo-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'),
    url(~static/Roboto/Roboto-Regular.ttf) format('truetype');
}

body {
  font-family: Poppins !important;
  background-color: #1f1b2e;
  margin: 0;
  padding: 0;
}
#__nuxt {
  margin: 0 !important;
  padding: 0 !important;
}
#__layout {
  margin: 0 !important;
  padding: 0 !important;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
